.app-layout {
  min-height: 100vh;
}

.app-content {
  margin: 66px 16px 16px;
  padding: 10px 24px;
  border-radius: 3px;

  @media screen and (max-width: 576px) {
    margin: 50px 0 0;
  }
}

.loading {
  display: block;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

//.ant-page-header-title-view {
//  display: none;
//}
