@import "../styles/global";

.register-input {
  & > .ant-input {
    height: 40px;
    font-size: 16px;
    width: 100%;
  }
}

#registerForm_userPassword {
  display: inline-grid;
  width: 100%;
}

//error message
.ant-form-explain {
  font-size: 12px;
}

.ant-form-item {
  margin-bottom: 19px;
}

.ant-form-item.ant-form-item-with-help {
  margin-bottom: 0;
}

.register-form-button {
  width: 100%;
  font-size: 16px;
  height: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form-button-text {
  display: inline-flex;
}

.register-form-forgot {
  color: @primary-color !important;
  line-height: 10px;
  margin-bottom: 10px;
  float: right;
  cursor: pointer;
}
