@import '../../../styles/variables';

.topic-datetime {
  font-size: 10px;
  color: gray;
}

.post-header {
  font-size: 26px;
  font-weight: 600;

  .post-header-description {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.ant-divider {
  margin: 12px 0;
}


h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}
h3 {
  font-size: 1.17em;
}

p {
  margin-bottom: 0 !important;
}


