@import '../styles/global';

.header-menu {

  z-index: 6;

  background: @gray-4;

  display: flex;
  align-items: stretch;

  height: 50px;
  padding: 0;
  border-bottom: @light-border;
  position: fixed;
  width: 100%;

  .header-menu-left {

    display: flex;
    flex-grow: 1;
    justify-content: flex-start;


    .header-submenu-link {
      display: flex;
      align-items: center;

      padding-right: 12px;
      padding-left: 12px;
      border-right: @light-border;
      &:hover {
        .header-submenu-icon, h2 {
          color: @primary-color !important;
        }
      }
      .header-submenu-icon {
        color: @text-color;
        font-size: 26px;
      }
    }

    h2 {
      color: @text-color;
      display: inline-block;
      margin: 0 0 0 0;
      font-weight: 600;
      font-size: 20px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    }
  }

  .header-menu-right {

    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    overflow: hidden;
    padding-right: 3px;

    .clock {
      padding-right: 20px;
      padding-left: 20px;
    }


    .header-dropdown {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      cursor: pointer;
      transition: all .3s;
      border-left: @light-border;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      .avatar {
        width: 22px;
        height: 22px;
      }

    }
  }
}

//TODO - check if it make problems
.ant-dropdown-placement-bottomRight {
  position: fixed !important;
  z-index: 1;
}

.ant-popover {
  z-index: 2;
}


