@import '../../../styles/global';

.topic-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: @light-border;
}

.topic-header-text {
  font-size: 20px;
  display: inline-flex;
  align-items: baseline;
}

.topic-header-description {
  font-size: 14px;
}

.topic-header-more {
  display: inline-flex;
  font-size: 20px;
  background: none !important;
  z-index: 1;
  padding: 0 3px 0 3px;
}

.topic-table {
  tbody:hover {
    td, tr {
      background: none !important;
    }
  }
}

.topic-description {
  font-size: 11px;
  line-height: 16px;
}

.topic-title {
  margin-bottom: -4px;
}

.topic-list-item {
  padding-top: 4px;
  padding-bottom: 4px;
}

.topic-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.topic-more-btn {
  font-size: 20px;
  background: none !important;
  z-index: 1;
  padding: 0 3px 0 3px;
  float: right;
}
