@import "variables";

.global-btn-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  &:focus {
    outline: 0 !important;
  }
}

th.ant-table-column-has-sorters:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.ant-form-item {
  margin-bottom: 16px;
}

a {
  //color: #595959 !important;
}

.flex-center {
  //display: inline-flex;
  //justify-content: center;
  //align-items: center;
}

.flex {
  //display: flex;
}
