@mobile-width: 576px;
@light-border: 1px solid @gray-5;

@gray-1: #ffffff;
@gray-2: #fafafa;
@gray-3: #f5f5f5;
@gray-4: #e8e8e8;
@gray-5: #d9d9d9;
@gray-6: #bfbfbf;

//.global-btn-link {
//  background:none!important;
//  border:none;
//  padding:0!important;
//  font: inherit;
//  cursor: pointer;
//  &:focus {
//    outline: 0 !important;
//  }
//}

th.ant-table-column-has-sorters:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
